/* General Styles */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;

  background-color: rgb(204 229 223);

}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.container1 {
  max-width: 514px;
  margin: 0 auto;
  padding: 20px;
}

/* Navigation Bar */
nav {
  background-color: #7fb3c1;
  color: #fff;
  padding: 10px 0;
}

nav h1 {
  margin: 0;
  padding: 0;
  /* display: inline; */
  position: absolute;
  font-size: 70px;
  left: 70px;
}

nav ul {
  list-style: none;
  display: inline;
}

nav ul li {
  display: inline;
  margin-left: 10px;
  font-size: 60px;
}

nav ul li :hover {
  font-family: cursive;
  color: rgb(4, 255, 234);
  background-color: rgb(2, 4, 5);
  border-radius: 20px;
}

.btn {
  font-size: 50px;
  position: absolute;
  left: 1260px;
  top: 845px;
  text-decoration: none;
  color: rgb(1, 204, 240);
}

.btn:hover {
  color: red;
}

nav ul li a {
  color: #fff;
  font-size: 45px;
  text-decoration: none;
  padding: 8px 12px;
  margin: 15px 15px;
}

/* Hero Section */
header {
  background-image: url('bg1.jpg');
  background-size: cover;
  background-position: center;
  color: #fff;
  text-align: center;
  padding: 70px 0;
  height: 900px;
}

header h1 {
  font-size: 8rem;
}

.heading1 {
  position: relative;
  left: 250px;
  font-size: 98px;
  top: 118px;
}

.heading {
  position: relative;
  left: 270px;
  top: 168px;
  font-size: 30px;
}

.det {
  font-size: 30px;
}

header p {
  font-size: 1.5rem;
  margin-bottom: 30px;
}

/* About Me Section */
.section {
  padding: 6px 0;
}

.abouthead {
  color: #657b3a;
  background-color: rgb(200 196 210);
  font-size: 65px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1px 10px;
}

.abouthead2 {
  font-size: 45px;
  display: flex;
  justify-content: center;
}

.para {
  font-size: 30px;
}

/* Projects Section */
.project {
  border: 1px solid #898787;
  padding: 50px;
  margin-bottom: 30px;
}

.atag {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 35px;
  left: 400px;
  color: yellow;

}

.project img {
  max-width: 100%;
  height: auto;
  margin-bottom: 50px;
}

.project h3 {
  margin-top: 0;
  margin-bottom: 10px;
}

.project p {
  margin: 0;
}

.project a {
  display: block;
  margin-top: 10px;
  color: #333;
  text-decoration: none;
  font-weight: bold;
}

/* Resume Section */
section#resume p {
  margin-bottom: 30px;
}

/* Contact Section */
section#contact {
  background-color: #f9f9f9;
  text-align: center;
  padding: 50px 0;
}

/* Footer */
footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 20px 0;
}

.size {
  font-size: 40px;

}

.resume {
  text-decoration: none;
  color: #fbf7f7;
  font-size: 30px;
  background-color: rgb(44 27 18);
  border-radius: 40px;
}

.resume:hover {

  color: #d413d4;
}

.me {
  position: absolute;
  top: 500px;
  left: 100px;
}